page-landing {
    .image-container {
        min-height: 200px;
        background-size: cover;
    }
 
    @media (min-width: 0px) {
        .images {
            column-count: 3;
        }
    }
 
    @media (min-width: 420px) {
        .images {
            column-count: 3;
        }
    }
 
    @media (min-width: 720px) {
        .images {
            column-count: 4;
        }
    }
 
    .one-image {
        margin: 2px;
        box-shadow: 4px 4px 5px grey;

    }

    .landingbar {
        color: #488aff;
    }

    .images {
        margin-top: 2rem;
    }
}
